@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounceOut {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px) scale(0.8);
  }
}

.animate-bounce-out {
  animation: bounceOut 0.5s ease-out forwards;
}